.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;margin-right: 35%;

}
/* a{

text-align: right;
text-decoration: none;
color: green;
}
button{
    background-color: green;
    color: white;
    height: 50px;
   font-size:120%;
}
button:hover{
    background-color: rgb(57, 94, 3);
}
.inputpass{
    display: flex;
    width: 100%;
   border:black 0.1rem solid;
  overflow: hidden;height: 33px;
}
.inputpass input{
    width: 99.5%;
    border: none;
    height: 100%; */
/* */
@media (max-width: 768px){
    
       .login{
        justify-content: center;
        margin-left: 20%;margin-right: 20%;
    }
    
  }